/target/
/.venv/
/.pytest_cache/
/.ruff_cache/
/.uv-cache-local/
/.mypy_cache/
/.pyre/
/.coverage
/coverage.xml
/htmlcov/
/data/
/dist/
/build/
/site/
/pip-wheel-metadata/
/.idea/
/.vscode/
*.log
*.egg-info/
/**/*.pyd
/**/*.so
/**/*.dylib
/**/*.dll
/**/*.exp
/**/*.lib
/**/*.pdb
/**/*.dSYM/
__pycache__/
*.py[cod]
